[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.9"

[packages]
pipfile = "*"
websocket-client = "==1.6.4"
urllib3 = "==1.26.18"
requests = "==2.31.0"

[dev-packages]
pylint = "==2.17.1"
pytest = "==6.2.5"
pre-commit = "==3.5.0"
